.formgroup {
  background-color: #CFDAE6;
  padding: 1em 4em 1em 4em;
  height: 500px;
}
header {
  text-align: center;
  background-image: image(img/img_2019.jpg);

}

h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Arial';
  color: #241A1A;
}

body {
  background-color: #E73333;
}

.centered {
  text-align: center;
}

button {
  height: 2em;
  width: 5em;
}

.star {
  color: red;
}

#heroes {
  height: 1500px;
  font-size: 2em;
}
